@mixin margin_auto($width) {
    width: $width;
    margin: 0 auto;
}
@mixin fontLine($width:50%,$mar:0,$color:currentColor,$vert:middle) {
    &:before,&:after{
        content: '';
        display: inline-block;
        width: $width;
        height: 1px;
        background: $color;
        vertical-align: $vert;
    }
    &:before{
        margin-right: $mar;
    }
    &:after{
        margin-left: $mar;
    }
}
@mixin spritebox($url,$left, $top, $height, $width, $size:initial){
    background-image: $url;
    background-repeat: no-repeat;
    background-position: $left $top;
    height: $height;
    width: $width;
    background-size: $size;
}
@mixin buttonStyle($bg,$color,$width,$height,$borderRadius,$fz:inherit,$border:0){
    display: inline-block;
    text-align: center;
    background: $bg;
    color: $color;
    font-size: $fz;
    width: $width;
    height: $height;
    border: $border;
    border-radius: $borderRadius;
}
@mixin inputStyle($width,$borderColor,$bg,$borderR,$pad){
    width: $width;
    border: 1px solid $borderColor;
    background-color: $bg;
    border-radius: $borderR;
    padding: $pad;
}
@mixin triangleStyle($borderWidth, $color, $position){
    width: 0;
    height: 0;
    border: $borderWidth solid $color;
    @if $position == 'left' {
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    } @else if $position == 'right' {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    } @else if $position == 'bottom' {
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    } @else if $position == 'top' {
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}
@mixin placeHolder($color){
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $color;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $color;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $color;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $color;
    }
}
